<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="oimasterkafuu">
    <meta name="theme-color" content="#d6e8f7">
    <title>Note</title>
    <link rel="shortcut icon" href="/img/avatar-icon.png" type="image/png">
    <link rel="stylesheet" href="/css/container.css">
    <link rel="stylesheet" href="/css/kawaii-font.css">
    <link rel="stylesheet" href="/css/kawaii-colors.css">
    <script src="https://cdn.staticfile.net/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.net/js-sha256/0.10.1/sha256.min.js"></script>
    <script src="/js/error-codes.js"></script>
</head>
<body>

<div class="container">
