<%- include('./components/header.ejs') %>

<link rel="stylesheet" href="/css/simple-form.css">

<form id="login-form">
    <input type="text" id="username" name="username" placeholder="用户名">
    <input type="password" id="password" name="password" placeholder="密码">
    <button type="submit">登录</button>
</form>

<script>
    $("#login-form").submit((event) => {
        event.preventDefault();
        $.ajax({
            url: "/user/login",
            type: "POST",
            data: {
                username: $("#username").val(),
                password: sha256($("#password").val())
            },
            success: (data) => {
                location.href = '/';
            },
            error: (error) => {
                const data = error.responseJSON;
                alert(ErrorText[data.status]);
            }
        });
    });
</script>

<style>
    :root {
        --bg-color: var(--very-light-blue);
    }

    button {
        --theme-color: var(--light-blue);
    }
</style>

<%- include('./components/footer.ejs') %>
