<%- include('./components/header.ejs') %>

<link rel="stylesheet" href="/css/simple-form.css">

<form id="logout-form" action="/user/logout" method="post">
    <button type="submit">确认退出</button>
</form>

<script>
    $("#logout-form").submit((event) => {
        event.preventDefault();
        $.ajax({
            url: "/user/logout",
            type: "POST",
            success: (data) => {
                location.href = '/';
            },
            error: (error) => {
                const data = error.responseJSON;
                alert(ErrorText[data.status]);
            }
        });
    });
</script>

<style>
    :root {
        --bg-color: var(--very-light-blue);
    }

    button {
        --theme-color: var(--light-blue);
    }
</style>

<%- include('./components/footer.ejs') %>
