<%- include('./components/header.ejs') %>

<form id="register-form">
    <label for="username">用户名：</label>
    <input type="text" id="username" name="username">
    <label for="password">密码：</label>
    <input type="password" id="password" name="password">
    <button type="submit">注册</button>
</form>

<script>
    $("#register-form").submit((event) => {
        event.preventDefault();
        $.ajax({
            url: "/user/register",
            type: "POST",
            data: {
                username: $("#username").val(),
                password: sha256($("#password").val())
            },
            success: (data) => {
                if (data.status === 'ok') {
                    location.href = '/';
                }
            }
        });
    });
</script>

<%- include('./components/footer.ejs') %>
