<%- include('./components/header.ejs') %>

<link rel="stylesheet" href="/css/simple-form.css">

<form id="register-form">
    <input type="text" id="username" name="username" placeholder="用户名">
    <input type="password" id="password" name="password" placeholder="密码">
    <button type="submit">注册</button>
</form>

<script>
    $("#register-form").submit((event) => {
        event.preventDefault();
        const username = $("#username").val();
        const password = $("#password").val();

        if (!username || !password) {
            alert("用户名和密码不能为空");
            return;
        }
        if (password.length < 6) {
            alert("密码太短");
            return;
        }

        $.ajax({
            url: "/user/register",
            type: "POST",
            data: {
                username: username,
                password: sha256(password)
            },
            success: (data) => {
                location.href = '/';
            },
            error: (error) => {
                const data = error.responseJSON;
                alert(ErrorText[data.status]);
            }
        });
    });
</script>

<style>
    :root {
        --bg-color: var(--very-light-pink);
    }

    button {
        --theme-color: var(--pink);
    }
</style>

<%- include('./components/footer.ejs') %>
